<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="Tomato" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="Tomato" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="Tomato" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="Tomato" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Tomato: RDF data viewer</title>

  <link rel="shortcut icon" href="img/favicon.ico" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<body>


  <!-- FILE SELECTION -->


  <div class="col-md-12" ng-controller="FileParser">
    <span class="btn btn-default btn-block">
        <input type="file" id="rdf_file">
    </span>
    <div class="starter-template">
      <h2>Tomato: RDF data viewer</h2>
        <p ng-if="!loaded">No data loaded. Select the file first.</p>
    </div>
  </div>


  <!-- TYPES PANE -->


  <div class="col-md-4" ng-controller="TypesPane">
    <div ng-if="items.length > 0">

      <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
        <input type="text" ng-model="queryBox.searchText" ng-change="search()" class="form-control" placeholder="Search for...">
      </div>
      </div>

      <div class="col-md-6">
      <ul class="pagination">
        <li ng-class="{disabled: currentPage == 0}">
          <a href ng-click="prevPage()">«</a>
        </li>
        <li ng-repeat="n in range(pagedItems.length)"
            ng-class="{active: n == currentPage}"
            ng-click="setPage()">
          <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
          <a href ng-click="nextPage()">»</a>
        </li>
      </ul>
      </div>

      <div class="col-md-12">
      <ul class="list-group" id="triples-list">
          <a href="#" class="list-group-item" ng-repeat="rdfType in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-click="select(rdfType)">
            <span class="badge">{{ rdfType.qty }}</span>
            {{ rdfType.prefix }}:{{ rdfType.name }}
          </a>
      </ul>
      </div>

    </div>
  </div>


  <!-- QUERY PANE -->


  <div class="col-md-4" ng-controller="QueryPane">
    <div class="input-group" id="query-group">
      <textarea class="form-control custom-control" rows="5" style="resize:none">{{ prefixesText }}</textarea>
      <textarea class="form-control custom-control" rows="10" style="resize:none">{{ bodyText }}</textarea>
      <button class="btn btn-default" type="button" id="queryBtn" ng-click="execute">Execute</button>
    </div>
  </div>

  <div class="col-md-4">
    <ul class="list-group" id="history-items">
      <a href="#" class="list-group-item">
        <span class="badge">5</span>
        SELECT DISTINCT * { ?s ?p ?o . }
      </a>
      <a href="#" class="list-group-item">
        <span class="badge">5</span>
        SELECT DISTINCT * { ?s ?p ?o . }
      </a>
      <a href="#" class="list-group-item">
        <span class="badge">5</span>
        SELECT DISTINCT * { ?s ?p ?o . }
      </a>
    </ul>
  </div>

  <div class="col-md-12 separate-block" ng-controller="TablePane">
    <table class="table table-bordered table-hover">
      <thead><tr>
        <th ng-repeat="colName in headers">{{ colName }}</th>
      </tr></thead>

      <tbody >
        <tr ng-repeat="row in data">
          <td ng-repeat="cell in row track by $index">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../node_modules/rdfstore/dist/rdfstore.js"></script>
  <script src="../node_modules/rdfstore/node_modules/n3/browser/n3-browser.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="services/store.js"></script>
  <script src="services/query.js"></script>
  <script src="controllers/query.js"></script>
  <script src="controllers/files.js"></script>
  <script src="controllers/types.js"></script>
  <script src="controllers/table.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
